In [1]:
import pandas as pd
import numpy as np

In [38]:
df_variance = pd.read_csv("./2208_2345_de/opt_history.csv")

In [39]:
df_variance

,execucao,funcao_objetivo,is_rotated,dimensoes,tamanho_populacao,total_geracoes_realizadas,range_position,perc_mutation,perc_crossover,crossover_type,best_ind,best_fitness,out_bounds
0,1,f8,True,10,10,10000,"[-100, 100]",0.9,0.4,NaN,[ 14.30750974 46.93170188 -23.9037177 -8.64...,802.566248,35499
1,2,f8,True,10,10,10000,"[-100, 100]",0.9,0.4,NaN,[ 9.44520713 42.65198087 -14.28417446 -32.23...,806.208811,26208
2,3,f8,True,10,10,10000,"[-100, 100]",0.9,0.4,NaN,[ 9.4452074 49.19032769 -32.16674182 -8.63...,800.994959,17101
3,4,f8,True,10,10,10000,"[-100, 100]",0.9,0.4,NaN,[ 9.48026814 56.64494382 -24.37806359 -20.40...,800.999562,48013
4,5,f8,True,10,10,10000,"[-100, 100]",0.9,0.4,NaN,[ 11.46150165 62.75133265 -9.68627457 -14.02...,802.984877,36886

In [40]:
best = df_variance['best_fitness'].min()
best

800.9949590570933

In [41]:
worst = df_variance['best_fitness'].max()
worst

806.2088110929176

In [42]:
mean = df_variance['best_fitness'].mean()
mean

802.7508915422558

In [43]:
std = df_variance['best_fitness'].std()
std

2.13286803915862

In [44]:
df_variance[df_variance['best_fitness'] == best]

,execucao,funcao_objetivo,is_rotated,dimensoes,tamanho_populacao,total_geracoes_realizadas,range_position,perc_mutation,perc_crossover,crossover_type,best_ind,best_fitness,out_bounds
2,3,f8,True,10,10,10000,"[-100, 100]",0.9,0.4,NaN,[ 9.4452074 49.19032769 -32.16674182 -8.63...,800.994959,17101

In [45]:
df_variance['out_bounds'].mean()

32741.4